* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
body {
  background-image: url(../images/12am\ -\ 6am.jpg);
  background-size: cover;
  background-position: top center;
   font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 15px 15px;
}
header input {
  width: 100%;
  max-width: 300%;
  padding: 10px 15px;
  border: none;
  outline: none;
  background-color: rgba(233, 233, 233, 0.3);
  border-radius: 20px 0px 20px 0px;
  border-bottom: 2px solid rgba(124, 199, 233, 0.303);
  font-size: 25px;
}
.weather-app {
  padding: 20px;
  border-radius: 5px;
}
main {
  flex: 1 1 100%;
  padding: 30px 30px 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.DayandTime {
  font-size: 40px;
  margin-bottom: 40px;
  color: whitesmoke;
}
.currentday {
  font-size: 30px;
  font-weight: 400;
}
.clock-time {
  font-size: 20px;
  font-weight: 400;
}
.clock-ampm {
  font-size: 15px;
}
.location .city h1 {
  margin-bottom: 60px;
  font-size: 60px;
  color: whitesmoke;
}
.temp-current {
  color: whitesmoke;
  font-size: 50px;
}

li {
  list-style: none;
  color: whitesmoke;
  align-items: center;
  font-size: 20px;
  font-weight: 300;
  display: inline;
  padding: 40px;
}
.overview {
  text-align: center;
  font-size: 5px;
}
img {
  margin: 40px;
}

img {
  margin: 40px;
}
.icon {
  width: 400px;
}

.overview {
  text-align: center;
  opacity: 0.5;
  color: whitesmoke;
  font-size: 3px;
}
footer {
  text-align: center;
  margin: 60px;
}

.weather-forecast-date {
  text-align: center;
  opacity: 0.5;
  margin-bottom: 20px;
  font-size: 25px;
}
.weather-forecast-temperatures {
  font-size: 20px;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}

.weather-temperature img {
  margin-right: 5px;
  height: 200px;
  width: 200px;
  size: 200%;
}

.weather-temperature strong {
  color: rgb(33, 33, 33);
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
}

.weather-temperature .units {
  position: relative;
  font-size: 1px;
  top: -34px;
}

.weather-temperature .active {
  color: rgb(33, 33, 33);
  cursor: default;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: #000;
}

.weather-forecast-temperature-min {
  opacity: 0.5;
}
.Images-transition {
  opacity: 0.5;
}

